<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.kunpengimsystem.mapper.MessageMapper">

    <select id="selectAllMessage">
        SELECT * FROM `messages`
    </select>

    <select id="selectMessageByConversationId">
        SELECT * FROM `messages`
        WHERE `conversation_id` = #{conversationId}
    </select>

    <select id="selectMessageByConversationIdWithNumberLimit" resultType="Message">
        SELECT * FROM `messages`
        WHERE `conversation_id` = #{conversationId}
        ORDER BY `create_time` DESC
        LIMIT #{limit}
    </select>

    <insert id="createMessage" parameterType="Message" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `messages` (`conversation_id`,
        `sender_id`,
        `message_type`,
        `message_context`,
        `create_time`)
        VALUES (#{message.conversationId},
        #{message.senderId},
        #{message.messageType},
        #{message.messageContext},
        #{message.createTime})
    </insert>

    <insert id="createMockMessage" parameterType="Message" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `messages` (`conversation_id`,
        `sender_id`,
        `message_type`,
        `message_context`,
        `create_time`)
        VALUES (#{message.conversationId},
        #{message.senderId},
        #{message.messageType},
        #{message.messageContext},
        #{message.createTime})
    </insert>

    <delete id="deleteMessageById">
        DELETE
        FROM `messages`
        WHERE `id` = #{id}
    </delete>
</mapper>